<div class="social-links">
    <a href="https://www.instagram.com/">
        <i class="fa-brands fa-instagram" alt="instagram"></i>
    </a>
    <a href="https://www.twitter.com/">
        <i class="fa-brands fa-x-twitter" alt="X"></i>
    </a>
    <a href="https://www.youtube.com/">
        <i class="fa-brands fa-youtube" alt="youtube"></i>
    </a>
    <a href="https://www.threads.com/">
        <i class="fa-brands fa-threads" alt="threads"></i>
    </a>
    <a href="https://www.facebook.com/">
        <i class="fa-brands fa-facebook" alt="facebook"></i>
        </a>
</div>

