<!-- TODO: Add correct links to socials -->

<div class="social-links">
    <a href="https://www.instagram.com/">
        <fa-icon [icon]="faInstagram"></fa-icon>
    </a>
    <a href="https://www.twitter.com/">
        <fa-icon [icon]="faTwitter"></fa-icon>
    </a>
    <a href="https://www.youtube.com/@coffeeyasan6718">
        <fa-icon [icon]="faYoutube"></fa-icon>
    </a>
    <a href="https://www.threads.com/">
        <fa-icon [icon]="faThreads"></fa-icon>
    </a>
    <a href="https://www.facebook.com/">
        <fa-icon [icon]="faFacebook"></fa-icon>
    </a>
</div>
