.social-links {
    display: flex;
    justify-content: space-around;
}

.social-links a {
    color: white;
    font-size: 2em;
    transition: all 1.5s ease-in-out;
    

}

.social-links :hover {
    transform: scale(1.5);
}

i {
    color: white;
    font-size: 2em;
}
