
 <div class="row">
        <div class="column">
        <div class="card">
            <h3>About CoffeeYaSan </h3>
            <p>I created this website so that I could document all the great coffeeshops
                in London. There are so many that I wanted to create videos and write About
                the places I have visited and pass that on to anyone curious about coffee in London.

                If you would like to get in contact about coffee, advice or anything else. Please fill out the form below!
            </p>
            
        </div>
         <!-- <div class="form-container">
            <h2>Contact Form</h2>
            <form [formGroup]="contactForm" (ngSubmit) = "onSubmit()">

                <div>
                    <label for="name">
                      Name
                    </label>
                    <input name="name" id="name" type="text" [formControl]="name">
                    <div [hidden]="name.valid || name.untouched">
                    Please enter your name above.
                    </div>
                    <div [hidden]="!name.hasError('minLength')">
                    Name required or name must be over 2 characters.
                    </div>
                 <div [hidden]="!name.hasError('minLength')">
                    Name must be longer than 2 characters.
                    </div>
                 
                </div>
                <div>
                    <label for="email">
                        Email
                    </label>
                    <input type="email" name="email" type="text" [formControl]="email">

                    <div [hidden]="email.valid || email.untouched">
                        Valid email required
                    </div>
                </div>

                <div>
                    <label for="body">
                       Message
                    </label>
                    <input id="body" type="text" [formControl]="body">
                    <div [hidden]="body.valid || body.untouched">
                    Please enter a message above.
                    </div>
                </div>
                <button type = "submit" id="submit-button" [disabled]="!contactForm">Submit</button>
                <div [hidden]="!contactForm.valid"> Message Sent!</div>
            </form>
             need to add a thank you for submitting header here when a message is sent correctly. -->

        <!-- </div>  -->
        

    </div>
</div>