
 <div class="row">
    <!-- <div class="column"  *ngFor="let card of [1,2,3,4,5]"> -->
        <div class="column">
        <div class="card">
            <h3>About CoffeeYaSan </h3>
            <p>I created this website so that I could document all the great coffeeshops
                in London. There are so many that I wanted to create videos and write About
                the places I have visited and pass that on to anyone curious about coffee in London.
            </p>
            
        </div>
        

    </div>
</div>