.navbar {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    justify-content: space-between;
    text-align: center;
    background-color:sandybrown;
    max-width: none;
    box-sizing: content-box;
    padding-top: 20px;
}   


a {
    text-decoration: none;
    color:cornsilk;
    font-size: 20px;
    font-family: 'Lora', serif;
    transition: all 1s ease-in-out;
}

a:hover {
font-size: 25px; 
}

@keyframes hoverlink {
    50% {font-size: 25px;}
  }

.links  {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-right: 15px; 
    text-decoration: none;
}