<link href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" rel="stylesheet">
<script>

      src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"
      console.log(src);
</script>

<div *ngIf="coffeeShop">
    <!-- above needs to be of type coffeeshopsArray -->
    <div class="coffee-card">
        <div class="info-text">
            <h3>{{coffeeShop.name}}</h3>
            <div>{{coffeeShop.description}}</div>
            <div>Location: {{coffeeShop.location}}</div>
            <div><p class="text-body">
                {{coffeeShop.content}}
        </div>
        <div class = "photo-container">
            <img src = {{coffeeShop.imageURL}} alt="Coffee Shop Image" class="coffeeShopImage">
            <p class="photo-description"><em class = "photo-text">{{coffeeShop.imageDescription}}</em></p>
        </div>
        <div id="map" class="map" class="match-parent">           
        </div>
    </div>  
 </div>