
<script>
    
      src=`https://maps.googleapis.com/maps/api/js?key=${GOOGLE_MAPS_API_KEY}&loading=async&callback=initMap`;
      // insert key above
      // &loading=async&callback=initMap
      console.log(src);
</script>

<div *ngIf="coffeeShop">
    <h3>{{coffeeShop.name}}</h3>
    <div>Description: {{coffeeShop.description}}</div>
    <div>Location: {{coffeeShop.location}}</div>
 </div>

 
<div class="youtube-container"></div>
<p>Youtube Video below</p>
<div class="map-container">
    <p> Map goes here </p>
<p>Location of coffee shop with map</p>
</div>

<div id="map">

</div>

<div class = "photo-container">
    <p>Photos go here</p>
</div>

<router-outlet>Info</router-outlet>