<!-- <h1>{{selectedCoffeeShop.name}}</h1> -->
<!-- <li *ngFor = "let coffeeShop of coffeeShops">
    <div class="coffeeShopListCardHeader">
    <span class="name">{{coffeeShop.name}}</span>
    </div>
</li> -->
<h1>Title</h1>
<div *ngIf="coffeeShop">
    <h3>{{coffeeShop.name}}</h3>
    <div>Description: {{coffeeShop.description}}</div>
    <div>Location: {{coffeeShop.location}}</div>
 </div>

 
<div class="youtube-container"></div>
<p>Youtube Video below</p>
<div class="map-container">
    <p> Map goes here </p>
<p>Location of coffee shop with map</p>
</div>

<div class = "photo-container">
    <p>Photos go here</p>
</div>

<router-outlet>Info</router-outlet>