.main-header {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 60px;

    background-image: url("src/assets/omotesando.jpg");
    background-position: center;
    background-size: auto ;
    background-repeat: none;
    margin-bottom: 0;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #d2a679;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.header-text {
    font-family: 'Ephesis', sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
}

.content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    background-color:#d2a679;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

a {
    color: white !important;
}

.header-text:hover {
    /* color:cornflowerblue !important; */
    background: #222 -webkit-gradient(linear, left top, right top from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 150px;
}

html {
    opacity: 1;
    transition: opacity 2s ease-in-out; /* Adjust the duration and timing function as needed */
  }
  
  html.loaded {
    opacity: 1;
  }

  .buymeacoffee {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(135, 81, 30);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-style: dashed;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  @keyframes fadeInAnimation {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
  }

  .shine {
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 1em;
    font-weight: bold;
  }