.main-header {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 60px;
    background-color: #f2f2f2;
    color:#000000;
    font-family: 'Ephesis', sans-serif;
    font-size: xxx-large;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-text {
    text-decoration: none;
}

.content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 60%;
}
