<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet">
  </head>

<app-navbar></app-navbar>
<!-- <div class="container"> -->
  <h1 class="main-header">
    <a class ="header-text" href="">CoffeeYaSan</a>
    
  </h1>
<!-- </div> -->
<div class="content-container">
  <a class= "buymeacoffee" href="https://www.buymeacoffee.com/coffeeyasah"> Buy me a coffee :D</a>
  <!-- <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="coffeeyasah" data-color="#5F7FFF" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script> -->
<!-- <app-coffeeshops> </app-coffeeshops> something wrong with app coffeeshops as being shown twice, commenting this out for now. -->
<router-outlet></router-outlet>
  </div>
<app-footer></app-footer>
</html>