li {
    display: block;
    list-style-type: none;
    justify-content: space-between;
    padding: 40px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    background-color: rgb(163, 115, 69);
    color: white;
}

.coffeeShopList {
    justify-content: center;
    text-align: center;
    padding: 15px;

}

.coffee-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
   
}

ul {
    display: block;
    padding-left: 0px;
}

.coffee-shop-item {
    margin-bottom: 10px;
    
}

.link-button {
    color: rgb(135, 81, 30);
    background-color: bisque; 
}

.link-button:hover {
    color: bisque;
    background-color: rgb(135, 81, 30);
}

.coffeeShopImage {
    height: 20%;
    width: 20%;
}