<div class="coffee-container">
        <div class="col-md-4">
            <ul class="coffeeShopList">
              <li *ngFor = "let coffeeShop of coffeeShops">
                    <div class="coffeeShopListCardHeader">
                    <span class="name">{{coffeeShop.name}}</span>
                    </div>
                    <button type ="button" (click)="onSelect(coffeeShop)">Details</button>
                </li>
             </ul>
             <div *ngIf="selectedCoffeeShop">
                <h3>{{selectedCoffeeShop.name | uppercase}} </h3>
                <div>Description: {{selectedCoffeeShop.description}}</div>
                <div>Location: {{selectedCoffeeShop.location}}</div>
                <div><a class="button" routerLink="/detail-coffee-shop-view" (click)='detailViewClick()'>View Article</a></div>
             </div>
             <div class="container">
              <!-- <router-outlet></router-outlet> -->
            </div>
        </div>
</div>